.AmazonLink__linkCard {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-4);
    border: 1px solid;
    border-color: var(--c-teal-400);
    border-radius: var(--border-radius-4);
    margin: var(--spacing-4) 0;
}

.AmazonLink__left {
    padding-right: var(--spacing-4);
}

.AmazonLink__title {
    font-size: var(--font-size-sm);
    line-height: 1.8;
    font-weight: bold;
    margin-bottom: var(--spacing-4);
    color: var(--c-gray-500);
    display: block;

    &:hover {
        opacity: .5;
    }
}

.AmazonLink__link {
    color: var(--c-teal-400);
    font-size: var(--font-size-sm);
    font-weight: 500;

    &:hover {
        opacity: .5;
    }
}

.AmazonLink__img {
    max-height: 150px;
    width: auto;
}