.ArticleDetail__container {
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-16);
    max-width: 720px;
}


.ArticleDetail__title {
    line-height: 1.6;
    font-family: var(--font-family-heading);
    font-weight: bold;
    font-size: var(--font-size-xl);
}

.ArticleDetail__publishedAt {
    margin-top: var(--spacing-4);
    color: var(--c-text-secondary);
    font-size: var(--font-size-sm);
}

.ArticleDetail__linkToHomeBlock {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-16);
}

.ArticleDetail__linkToHome {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    transition: color 0.2s, box-shadow 0.2s;
    margin: 0 auto;

    &:hover {
        color: var(--c-teal-400);
    }
}